<div class="card" style="width: 75%;margin: 0 auto;">
    <div class="card-header">
        <nav class="navbar">
            <a class="navbrand-bar h4">{{pageTitle}}</a>
        </nav>

    </div>
    <div class="container-fluid">
        <div class="card-body">
            <table class="table table-inverse">
                <tr >
                    <th>Album Image</th>
                    <th>Artist Name</th>
                    <th>Album Name</th>
                    <th>Number of tracks</th>
                    <th>Release Date</th>
                </tr>
                <tr *ngFor = "let album of albums">
                    <td> <img src={{this.album?.album?.coverImage}} alt="product image" style="height: 50px;width: 75px;"/></td>
                    <td> {{this.album?.artist}}</td>
                    <td>{{this.album?.album?.name}}</td>
                    <td style="text-align: center;">{{album?.album?.tracks.length}}</td>
                    <td>{{album?.album?.releaseDate}}</td>
                    <td><i class="fa fa-eye" 
                        [routerLink]="['/albums', album.id]"></i></td>
                </tr>
            </table>

        </div>
    </div>
</div>