<div class="card" style="width: 75%;margin: 0 auto;">
    <div class="card-header">
        <nav class="navbar">
            <a class="navbrand-bar h4">{{pageTitle}}</a>
        </nav>

    </div>
    <div class="container-fluid">
        <div class="card-body">
            <table class="table table-inverse">
                <tr>
                    <th>Artist Name</th>
                    <th>Album Name</th>
                    <th>Number of tracks</th>
                    <th>Release Date</th>
                </tr>
                <tr>
                    <td> {{this.albumInfo?.artist}}</td>
                    <td>{{this.albumInfo?.album?.name}}</td>
                    <td>{{albumInfo?.album?.tracks.length}}</td>
                    <td>{{albumInfo?.album?.releaseDate}}</td>
                </tr>
            </table>

        </div>
    </div>
</div>